
.main-container{
    max-width: 450px;
    margin: 70px auto;
}
body{
    min-height: 100vh;
}

.main_page_outter_div{
    background-image: url("https://images.unsplash.com/photo-1515965885361-f1e0095517ea?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.214);
}

.day-buttons{
    padding: 15px !important;
    background-color: #585aaa!important;
    color: #eaeaea !important;
    border: 1px solid #3e4d77 !important;
    text-transform: none !important;
    line-height: 1.2 !important;
}

.MuiTypography-gutterBottom{
    font-weight: 500 !important;
    font-size: 1rem !important;
}

.text-field{
    width: 100%;
}

.search-page-frame{
    padding: 20px;
}

.search-buttons{
    width: 322px;
    text-transform: none !important;
    font-size: 18px !important;
}

.places-form{
    width: 322px;
}

.search-titles{
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: 10px;
}

.or{
    margin: 5px;
}

.instant-search-div{
    margin-top: 10px;
}

.advance-search{
    cursor: pointer;
}

#search-room-submit-button{
    margin-top: 10px;
}

.background{
    background-size: 'cover';
	background-repeat: 'no-repeat';
	background-position: 'center';
	background-image: url();
}